---
source_url: https://support.telnyx.com/en/articles/8269305-appeal-level-2-verification-status
scraped: 2026-06-11
---

Appeal Level 2 Verification Status | Telnyx Help Center

[Skip to main content](#main-content)

# Appeal Level 2 Verification Status

Unlock Telnyx platform potential with Level 2 Verification. Ensure user legitimacy, protect from spam, and gain more platform freedoms.

K

Written by Klane Pedrie

April 30, 2026

Table of contents

# Level 2 Verification Process and Appeal

**NOTE:** New users will be enabled with the [Trial-Paid-Verified-Enterprise (TPVE) Account Levels](https://developers.telnyx.com/docs/account-setup/levels-and-capabilities) framework and will not have access to the legacy L2 Verification section. For more info on TPVE, please check out our [article](https://support.telnyx.com/en/articles/1130595-account-verification).  
​

We want to unlock all the potential of the Telnyx platform for you!

[Level 2 Verification](https://support.telnyx.com/en/articles/1130595-account-verification) is one way that Telnyx helps to protect the integrity of the Telnyx platform and consumers from spam or fraudulent calls and messages by making sure our users are legitimate. If you become L2 Verified then you will have more freedom to call certain international destinations, ​​send messages from your account at a higher rate, order SIM cards, and be able to use call forwarding.

## How to submit your L2 Verification:

1. Log in to your [Mission Control Portal](https://portal.telnyx.com/)
2. Navigate to the  ["Account Settings" section of the portal](https://portal.telnyx.com/#/account/general). You can do this by clicking on the Profile icon (in top right) > Account Settings  
   ​

   [![](https://downloads.intercomcdn.com/i/o/ltcafuzd/2335391297/67228403c24d145a16e53cc1289f/image.png?expires=1781168400&signature=77982528b8350ec3a8dd5f13a444179cb82969679198769f5b198da77b2ed537&req=diMkE8p3nINWXvMW1HO4zakk2Px7voeG6l%2BrRuJAq9r1iiIjH6%2FiTMpxk0b9%0Atcpq%0A)](https://downloads.intercomcdn.com/i/o/ltcafuzd/2335391297/67228403c24d145a16e53cc1289f/image.png?expires=1781168400&signature=77982528b8350ec3a8dd5f13a444179cb82969679198769f5b198da77b2ed537&req=diMkE8p3nINWXvMW1HO4zakk2Px7voeG6l%2BrRuJAq9r1iiIjH6%2FiTMpxk0b9%0Atcpq%0A)
3. Within your "Account Settings", click on the "Profile" tab in the left navigation bar. Then update your Company Name and Address in the "Account Information" section.  
   ​

   [![](https://downloads.intercomcdn.com/i/o/ltcafuzd/2335396942/ed517602cd9703bc682257d7471e/image.png?expires=1781168400&signature=792ea2170b0a8bf433c74f0621bb4af2109ccb0925fee4805022a8a57b5b5bef&req=diMkE8p3m4hbW%2FMW1HO4zb6LY6S2YUddaDzhMl%2B56jg90oQV13NxTLTB2ZM7%0AJ9H3%0A)](https://downloads.intercomcdn.com/i/o/ltcafuzd/2335396942/ed517602cd9703bc682257d7471e/image.png?expires=1781168400&signature=792ea2170b0a8bf433c74f0621bb4af2109ccb0925fee4805022a8a57b5b5bef&req=diMkE8p3m4hbW%2FMW1HO4zb6LY6S2YUddaDzhMl%2B56jg90oQV13NxTLTB2ZM7%0AJ9H3%0A)
4. Next, add a Payment Method. To do so, first navigate to the [Billing section of the portal](https://portal.telnyx.com/#/billing/payment). You can do this by clicking on the Profile icon (in top right) > Manage Billing  
   ​

   [![](https://downloads.intercomcdn.com/i/o/ltcafuzd/2335399327/a3d0025dbf15e495cd3e5729e0db/image.png?expires=1781168400&signature=5775218e754d9a5078cf4763fac80337e1b4df1e0510ac6a6233303bf2295e9b&req=diMkE8p3lIJdXvMW1HO4zVHiboAQLFMkY1OF93SykwmwSUN5P7ppvLWyuJBU%0AK1BN%0A)](https://downloads.intercomcdn.com/i/o/ltcafuzd/2335399327/a3d0025dbf15e495cd3e5729e0db/image.png?expires=1781168400&signature=5775218e754d9a5078cf4763fac80337e1b4df1e0510ac6a6233303bf2295e9b&req=diMkE8p3lIJdXvMW1HO4zVHiboAQLFMkY1OF93SykwmwSUN5P7ppvLWyuJBU%0AK1BN%0A)

   From there, click on the "Billing Overview" tab on the left navigation bar. Then, click "Make a Payment".

   [![](https://downloads.intercomcdn.com/i/o/ltcafuzd/2335402468/5ccee2a464f5c644d7f4fedda14b/image.png?expires=1781168400&signature=98e2d06a1d75e088d17b72df240b72b44c6ba2e13a54650cb196aab275144f48&req=diMkE81%2Bn4VZUfMW1HO4zba8IEZ7ytRuf0%2FoPX%2FJzZhrNtcW6qdu6P8qGy0I%0A91WF%0A)](https://downloads.intercomcdn.com/i/o/ltcafuzd/2335402468/5ccee2a464f5c644d7f4fedda14b/image.png?expires=1781168400&signature=98e2d06a1d75e088d17b72df240b72b44c6ba2e13a54650cb196aab275144f48&req=diMkE81%2Bn4VZUfMW1HO4zba8IEZ7ytRuf0%2FoPX%2FJzZhrNtcW6qdu6P8qGy0I%0A91WF%0A)

   You will be redirected to a page where you can add a Payment method to your account. Fill out the form and then hit "Continue".

   [![](https://downloads.intercomcdn.com/i/o/ltcafuzd/2335406545/2a710899aa56fefe0128f76050dc/image.png?expires=1781168400&signature=16ced3dc2d21490c3437641ffec7efa9dd72db11d27fa2d8bdefbf8ee648b37d&req=diMkE81%2Bm4RbXPMW1HO4zXkH0G1q6AVIbmz4PGUxaqBIdH%2Fm9P4dzunU0TlI%0Aht2C%0A)](https://downloads.intercomcdn.com/i/o/ltcafuzd/2335406545/2a710899aa56fefe0128f76050dc/image.png?expires=1781168400&signature=16ced3dc2d21490c3437641ffec7efa9dd72db11d27fa2d8bdefbf8ee648b37d&req=diMkE81%2Bm4RbXPMW1HO4zXkH0G1q6AVIbmz4PGUxaqBIdH%2Fm9P4dzunU0TlI%0Aht2C%0A)
5. Finally, navigate to the [Verifications section of the portal to submit your Level 2 verification request](https://portal.telnyx.com/#/account/my-account/verifications). You can do this by clicking on the Profile icon (in top right) > Account Settings > Verifications. Once on the Verifications page, fill out your L2 verification request and hit submit! For more details, please visit [this support article](https://support.telnyx.com/en/articles/1130595-account-verification).

## How to check status of L2 Verification:

1. Log in to your [Mission Control Portal](https://portal.telnyx.com/) > Profile (in top right) > Account Settings > [Verifications](https://portal.telnyx.com/#/app/account/verifications)
2. If you have recently submitted your L2 Verification, please give us at least 48 hours to review your application.
3. If approved, it will say “Verified” in green, [here](https://portal.telnyx.com/#/app/account/verifications) next to Level 2 Verification.
4. If it has been more than 72 hours and your account is still unverified for L2, and you feel you have been denied in error please follow instructions below.

## What if my level 2 verification request has been denied / rejected?

If you have been denied L2 Verification and would like to appeal your verification status, please answer the following questions:

* What are you planning to use the Telnyx services for?
* Are you going to use Telnyx services for your business?
* What is your business’s website?
* Have you ensured your Telnyx account details match any payment methods used to make a payment? If you have not added a [payment method](https://portal.telnyx.com/#/app/account/billing), please do so now.

Please send your appeal and responses to [kyc.verifications@telnyx.com](mailto:kyc.verifications@telnyx.com) and we will be happy to review. In some circumstances, our review team may require scanned documentation in order to verify your account.

---

Related Articles

[Account Verification](https://support.telnyx.com/en/articles/1130595-account-verification)[Introducing the Verify API](https://support.telnyx.com/en/articles/5367966-introducing-the-verify-api)[Telnyx Verify: 2FA made easy](https://support.telnyx.com/en/articles/5701653-telnyx-verify-2fa-made-easy)[Verified Numbers FAQ](https://support.telnyx.com/en/articles/6790265-verified-numbers-faq)[Verified Numbers](https://support.telnyx.com/en/articles/6988813-verified-numbers)

Did this answer your question?

😞😐😃

Table of contents
